<section id="principal">
  <section class="container">
    <!-- empieza nav superior -->
    <nav class="">
      <div class="col-md-5 pull-left">
        <div class="">
          <h1>Home</h1>
        </div>
      </div>
      <div class="col-md-5 pull-right">
        <div class="">
          <a href="/registro" class="btn btn-primary btn-block">Registro</a>
          <a href="#" class="btn btn-success btn-block">Login</a>
        </div>
      </div>
    </nav>
  </section>

  <!-- empieza zona de slide -->
  <section class="container">
    <div class="row">
      <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active" id="item-1">
            <div class="container">
              <div class="carousel-caption">
                <img class="item-title" src="img/que-es-intermed.png" alt="¿Qué es Intermed?">
                <div class="clearfix"></div>
                <div class="item-block">
                  <div class="large-text">
                    <strong>INTERMED &reg</strong> es la primera <br>red social <strong>médico-paciente.</strong>
                  </div>
                </div>
                <div class="item-block">
                  <div class="normal-text">
                    creada para ayudare a llevar un control de tu salud <br>
                    y optimizar tu comunicación con médicos, instituciones <br>
                    y demás profesionales del ramo.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" id="item-2">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="item-title-text">
                  <small>Agenda tus citas</small> <br>con un click 
                </h1>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="item-block">
                  <div class="large-text">
                    <strong>Seguridad y rapidez</strong>
                  </div>
                </div>
                <div class="item-block">
                  <div class="normal-text">
                    Desde cualquier lugar y en cualquier momento, agenda<br>
                    tus citas a traves de Intermed, y sin costo alguno<br>
                    nosotros la reservaremos para ti, recordandote<br>
                    la fecha y registrando tu visita. 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" id="item-3">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="item-title-text">
                  <small>Lleva un registro</small> <br>detallado <small>de tu</small>
                  <br><small>historial de salud</small>
                </h1>
                <div class="clearfix"></div>
                <div class="item-block">
                  <div class="large-text">
                    Seguridad y <strong>rapidez</strong>
                  </div>
                </div>
                <div class="item-block">
                  <div class="normal-text">
                    Cada vez que visitas a un médico de Intermed, la<br> registramos y la incluímos en una bitacora que<br>
                    puedes consultar en cualquier momento.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div><!-- /.carousel -->
    </div>
  </section>
  <section id="buscador" class="container" >
    <!-- empieza buscador -->
    <div class="panel">
      <div class="panel-body">
        <form >
          <h4>Buscar</h4>
          <div class="criterio col-md-2">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <select id="sel-busqueda" class="form-control">
                    <option value="especialidad">Especialidad</option>
                    <option value="medico">Medico</option>
                    <option value="padecimiento">Padecimiento</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="parametros col-md-8">
            <div class="row">
              <div class="esp box">
                <form id="formEsp" class="">
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Especialidades</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Ciudad</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Colonia</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="med box">
                <div id="formMed" class="">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="nombreMed" placeholder="Nombre del Medico">
                    </div>
                  </div>
                </div>
              </div>
              <div class="pad box">
                <form id="formPad" class="">
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Padecimiento</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Ciudad</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Colonia</option>
                        <option>...</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-12">
                <ul class="list-inline">
                  <li><label>Añade a tu busqueda: </label></li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Hospital
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Aseguradora
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Costo
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-info btn-md btn-block"id = "btn">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- espacio para icono scroll -->
    <div class="row ">
      <div style="text-align:center;">
        <span class="center-block glyphicon glyphicon-hand-down btn-lg"></span>
      </div>
    </div>
  </section>
</section>
<section id="servicios" style="text-align:center; color:#fff;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="icon-white"></span>
        <article>
          <h2>
            <strong>Intermed&reg</strong> Es la primera red social dedicada a la salud.
          </h2>
          <div class="medium-text">Es una plataforma diseñada para conectar a pacientes, medicos e instituciones, ofreciéndoles una<br> selección de útiles herramientas creadas especialmente para cada uno de ellos.
          </div>
          <h1>Conoce los servicios que <strong>Intermed&reg</strong> tiene para ti.</br>
            <small>Selecciona tu categoría:</small></h1>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="iconos-servicios hi-icon-wrap hi-icon-effect hi-icon-effect-a">
          <div class="col-md-3">
            <a href="#set-9" class="hi-icon hi-icon-img"><img src="img/BotonPacientes.png"></a>
          </div>
          <div class="col-md-3">
            <a href="#set-9" class="hi-icon hi-icon-img"><img src="img/BotonMedicos.png"></a>
          </div>
          <div class="col-md-3">
            <a href="#set-9" class="hi-icon hi-icon-img"><img src="img/BotonInstituciones.png"></a>
          </div>
          <div class="col-md-3">
            <a href="#set-9" class="hi-icon hi-icon-img"><img src="img/BotonProveedores.png"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="vendedores">
    <div class="container">
    </div>
  </section>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 7000});
  });
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#sel-busqueda").change(function(){
      $(this).find("option:selected").each(function(){
        if($(this).attr("value")=="especialidad"){
          $(".box").not(".esp").hide();
          $(".esp").show();
        }
        else if($(this).attr("value")=="medico"){
          $(".box").not(".med").hide();
          $(".med").show();
        }
        else if($(this).attr("value")=="padecimiento"){
          $(".box").not(".pad").hide();
          $(".pad").show();
        }
        else{
          $(".box").hide();
        }
      });
    }).change();
  });
  </script>
