/* style.css */
/*
body {
  background: url('../img/whitey.png');
}
body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

.navbar-fixed-top {
  box-shadow: 0 0 3px #000;
  border-bottom: 1px solid #999;
}

.geddy-welcome-box {
  text-align: center;
  background: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {ยบ
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 20px;
}

.list-item div {
  background: white;
  border-bottom: 2px solid #ccc;
}

.list-item div > * {
  padding: 20px;
}

.list-item div h3 i {
  margin: 5px;
}

#flash-container {
  margin-top: 48px;
}

@media (max-width:480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}
*/



/* --- */
body { background-color: #d9d9d9; }
.btn { border-radius: 0; } 
#myCarousel {
	height: 600px;
	border-bottom: 7px solid #ff4200;
	margin-bottom: 15px;
}
#myCarousel .carousel-inner { height: 100%; 
}
#myCarousel .item { 
	height: 100% !important;
	text-align: left;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}
#myCarousel .item-bg {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: -1111111111;
	height: 100%;
}
#myCarousel .carousel-caption {
	text-align: left;
	text-shadow: none;
	right: 18%;
	left: 12%;
	bottom: 15%;
}
#myCarousel .carousel-caption .item-title {
	height: 110px;
}
#myCarousel .carousel-caption h1.item-title-text {
	display: inline-block;
	font-size: 51px;
	font-weight: bold;
	color: #3c3e41;
	line-height: .8;
}
#myCarousel .carousel-caption h1.item-title-text small {
	color: #3c3e41;
	font-size: 35px;
	letter-spacing: 2px;
	font-weight: bold;
}
#myCarousel .carousel-caption .item-block {
	display: inline-block;
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	padding: 3px 7px;
	margin: 10px 0;
	background: #ff9a07;
	background: linear-gradient(to right,  #ff9a07 0%,#f2cc39 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a07', endColorstr='#f2cc39',GradientType=1 );
	background-color: #ffaf00;
}
#myCarousel .carousel-caption .large-text{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
}
#myCarousel .carousel-caption .normal-text{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
}

#item-1 { background-image: url("../img/slide-item1.png"); }
#item-2 { background-image: url("../img/slide-item2.png"); }
#item-3 { background-image: url("../img/slide-item3.png"); }

#myCarousel .carousel-control.left , #myCarousel .carousel-control.right { background: none; }


/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/* ---------------------------------- */
.carousel-fade .item {
 transition: opacity 1s;
}
.carousel-fade .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel-fade .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

/*-------------------*/
.carousel-indicators li{
	border: 1px solid #8a8787;
}
.carousel-indicators .active{
	background-color: #8a8787;
}




.logo { height: 70px;
width: 100%;
border: solid 1px #333; }
.row { padding-top: 10px; padding-bottom: 10px; }

#principal { 
	height: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	background-image: url("../img/slideBG.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#registro { 
	height: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	background-position: center center;
	background-repeat: no-repeat;
}
#buscador { }
#servicios {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #6093bf;
	position: relative;
	display: block;
}
#servicios h1 { font-size: 50px; }

#servicios .iconos-servicios{ 
	padding-top: 30px; 
	padding-bottom: 30px;
}



#servicios .icon-white {
	width: 450px;
	height: 177px;
	background-image: url("../img/que-es-intermed-logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin-top: 15px;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
}
#servicios h1 {
	font-size: 35px;
	letter-spacing: 2px;
	font-weight: 200;
	margin-top: 40px;
}
#servicios h2 {
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 1px;
}
#servicios h1 small {
	color: #ffffff;
}
#servicios .medium-text {
	font-size: 20px;
	letter-spacing: 1px;
}




#vendedores {
	height: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ff4200;
	border-top: 10px solid #ffffff;
}
footer {
	background-color: #ff1c00;
	border-top: 2px solid rgba(250,250,250,.7);
	color: #fff;
}
footer a, footer a:active, footer a:hover, footer a:visited { color:#fff; }


/* ------ icons hover effect ------ */
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	/*cursor: pointer;*/
	margin: 15px 30px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	background-color: #437eab;
}

.hi-icon:after {
	/*pointer-events: none;*/
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: ''; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect  */
.hi-icon-effect .hi-icon {
	transition: box-shadow 0.3s;
}

.hi-icon-effect .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

/* Effect a */
.hi-icon-effect-a .hi-icon:hover:after {
	-webkit-transform: scale(0.6);
	transform: scale(.6);
	opacity: 0;
}

.hi-icon-effect-a .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}
